.movie-detail-container {
  padding: 20px;
  max-width: 1000px;
  margin: auto;
  color: white;
}

.movie-details {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.movie-details img {
  width: 300px;
  border-radius: 10px;
  object-fit: cover;
}

.movie-text {
  flex: 1;
}

.movie-text h2 {
  margin-bottom: 10px;
  font-size: 28px;
}

.movie-text p {
  margin: 5px 0;
  font-size: 16px;
  line-height: 1.6;
}
